@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music App</h1>
   
    <p><a href="/Albums" class="btn btn-primary btn-lg">Go to albums &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Albums</h2>
        <p>
            Browse the complete catalog of albums. Includes full information about the artist, genre, and price.
            <br />
            Edit, delete, or add new albums here.
        </p>
        <p><a class="btn btn-default" href="/Albums">Go to Albums &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p>NSee what music genres are available and find albums in your favorite genre. <br />
        Add new genres.<br />
        New genres can be added here.</p>
        <p><a class="btn btn-default" href="/Genre">Browse by Genre &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>Browse the artist list to find your favorites and see what albums they have released.
        <br />
        Add new artists here.</p>
        <p><a class="btn btn-default" href="/Artist">Browse by Artist &raquo;</a></p>
    </div>
</div>